PORT=
DATABASE_URL=
JWT_SECRET=
ADMIN_PASSWORD=
APP_BASE_URL=
FILE_STORAGE_DIR="./uploads"
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_FROM=noreply@comunicacao-inclusiva.local
INVITATION_EXPIRES_HOURS=168
MIN_PASSWORD_LENGTH=8